<nav data-pagefind-ignore aria-label="breadcrumb" class="text-light">
  <ol class="flex flex-wrap items-center list-none p-0 m-0">
    {{ range .Ancestors.Reverse }}
      <li class="flex items-center">
        {{ partial "components/link.html" (dict "label" .LinkTitle "url" .RelPermalink "class" "text-xs") }}
        <span class="mx-3">/</span>
      </li>
    {{ end }}
    <li class="text-light/90 uppercase text-xs font-semibold" aria-current="page">
      {{ .Title }}
    </li>
  </ol>
</nav>