<!DOCTYPE html>
<html lang="en">
<head>
    {{/*  head import  */}}
    {{ partial "essentials/head.html" . }}
</head>
<body class="bg-dark">
    <main class="max-w-[1900px] mx-auto">
    {{/*  header import  */}}
    {{ partial "shared/header.html" . }}

    {{/*  main  */}}
        {{ block "main" . }}
        {{ end }}
        {{/*  /main  */}}
        
        {{/*  footer import  */}}
        {{ partial "shared/footer.html" . }}
    </main>
        {{/*  js import  */}}
        {{ partial "essentials/js.html" . }}
</body>
</html>