@import "tailwindcss";
@source "hugo_stats.json";
@source inline("h-20, rotate-45, -rotate-45", "top-23", "top-30", "overflow-hidden");

@theme {
  --font-primary: "JetBrains Mono", monospace;

  --color-primary: #D90429;
  --color-light: var(--color-white);
  --color-dark: var(--color-black);
  --color-light-bg: #EDF2F4;
  --color-accent: #111111;
}

html {
  @apply text-[87.5%]; 
}

.header-glass {
  @apply bg-dark/60 bg-clip-padding backdrop-filter backdrop-blur-sm;
}

.glass-responsive {
  @apply lg:bg-transparent lg:bg-clip-border lg:backdrop-blur-none;
}

.bg-glass {
  @apply bg-light/5 bg-clip-padding backdrop-filter backdrop-blur-sm;
}

.hero-swiper-pagination .swiper-pagination-bullet {
  @apply bg-light w-10 rounded-none h-[3px];
}

.hero-swiper-pagination .swiper-pagination-bullet-active {
  @apply bg-primary;
}

.heroTextSwiper .swiper-wrapper .swiper-slide.swiper-slide-active .title {
  @apply text-primary;
}

.heroTextSwiper .swiper-wrapper .swiper-slide {
  @apply lg:h-auto;
}

.heroTextSwiper .swiper-wrapper .swiper-slide .dets {
  @apply max-h-0 overflow-hidden transition;
  transition: max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 150ms;
}

.heroTextSwiper .swiper-wrapper .swiper-slide.swiper-slide-active .dets {
  @apply max-h-35 lg:max-h-60 2xl:max-h-35;
}

#typewriter::after {
  @apply whitespace-pre content-["|"] animate-[tw-cursor_1s_infinite];
}

@keyframes tw-cursor {
  50% {
    opacity: 0;
  }
}

.card-spotlight {
  @apply relative overflow-hidden before:content-[""] before:absolute before:transition-opacity before:duration-200 before:ease-[ease] before:pointer-events-none before:inset-0;
}

.card-spotlight::before {
  background: radial-gradient(
    350px circle at var(--x, 50%) var(--y, 50%),
    rgba(255, 0, 0, 0.25),
    transparent 40%
  );
  opacity: var(--o, 0);
}

.bg-mask {
  --dot-color: color-mix(in oklab, var(--color-light) /* var(--color-white) */ 15%, transparent);
  background-image:
    radial-gradient(circle at 8px 8px, var(--dot-color) 0, var(--dot-color) 0.5px, transparent 1px),
    radial-gradient(circle at 24px 8px, var(--dot-color) 0, var(--dot-color) 0.5px, transparent 1px),
    radial-gradient(circle at 8px 24px, var(--dot-color) 0, var(--dot-color) 0.5px, transparent 1px),
    radial-gradient(circle at 24px 24px, var(--dot-color) 0, var(--dot-color) 0.5px, transparent 1px);
  background-size: 32px 32px;
  background-repeat: repeat;
}