{{ define "main" }} {{/* hero */}}
<section class="pt-50 pb-30 px-5 bg-dark">
  <div class="max-w-2xl mx-auto space-y-10">
    <h1
      class=" text-light text-5xl font-bold text-center text-balance leading-14"
      data-aos="fade-up"
      data-aos-delay="200"
    >
      {{ .Title }}
    </h1>
    <div
      class="flex justify-center items-center"
      data-aos="fade-up"
      data-aos-delay="400"
    >
      {{ partial "components/breadcrumb.html" . }}
    </div>
  </div>
</section>
{{/* /hero */}} {{/* body */}}
<section class="bg-light">
  <div class="container py-30 px-5 mx-auto grid lg:grid-rows-2 gap-15">
    <h3
      class=" text-5xl text-dark text-balance font-bold leading-14 lg:max-w-1/2"
      data-aos="fade-up"
      data-aos-delay="200"
    >
      I’m the creator of HackITA — a platform built for practical cybersecurity,
      OSCP-style learning and real pentesting notes.
    </h3>
    <p
      class=" text-dark text-lg text-balance lg:max-w-1/2 ml-auto"
      data-aos="fade-up"
      data-aos-delay="400"
    >
      A content writer with over 12 years experience working across brand
      identity, publishing and digital products. Maecenas sit amet purus eget
      ipsum elementum venenatis. Aenean maximus urna magna elementum venenatis,
      quis rutrum mi semper non purus eget.
      <br /><br />
      Purus eget ipsum elementum venenatis. Aenean maximus urna magna elementum
      venenatis, quis rutrum mi semper non purus eget ipsum elementum venenatis.
    </p>
  </div>
</section>
{{/* /body */}} {{/* cards */}}
<section class="bg-dark">
  <div class="container mx-auto py-30 px-5 space-y-15">
    <div class="max-w-2xl mx-auto text-center flex flex-col gap-10">
      <h3
        class=" text-5xl text-light font-bold leading-14"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        What I Do
      </h3>
    </div>
    <div
      id="stats-grid"
      class="relative grid md:grid-cols-2 lg:grid-cols-3 gap-5"
    >
      <div
        data-aos="zoom-in"
        data-aos-delay="200"
        class="card-spotlight grid grid-rows-3 text-center rounded-md bg-glass border-light/20 border p-7 gap-y-5"
      >
        <h5 class=" text-light text-2xl font-semibold">
          Cybersecurity Research
        </h5>

        <p class=" text-light row-span-2">
          I analyze vulnerabilities, CVEs, exploit chains, and document them in
          simplified, actionable form for students and self-learners.
        </p>
      </div>

      <div
        data-aos="zoom-in"
        data-aos-delay="400"
        class="card-spotlight grid grid-rows-3 text-center rounded-md bg-glass border-light/20 border p-7 gap-y-5"
      >
        <h5 class=" text-light text-2xl font-semibold">
          Pentesting & Lab Walkthroughs
        </h5>

        <p class=" text-light row-span-2">
          From Linux/Windows privilege escalation to AD attack paths, I create
          detailed OSCP-style walkthroughs based on real lab machines.
        </p>
      </div>

      <div
        data-aos="zoom-in"
        data-aos-delay="600"
        class="card-spotlight grid grid-rows-3 text-center rounded-md bg-glass border-light/20 border p-7 gap-y-5"
      >
        <h5 class=" text-light text-2xl font-semibold">
          Red Team Notes & Guides
        </h5>

        <p class=" text-light row-span-2">
          Structured notes covering recon, exploitation, post-exploitation,
          persistence and lateral movement — without any fluff.
        </p>
      </div>
    </div>
  </div>
</section>
{{/* /cards */}}
{{/*  cta  */}}
{{ partial "shared/cta.html" }}
{{/*  /cta  */}}
{{ end }}
