{{ define "main" }}

{{/* hero */}}
{{ partial "shared/hero.html" (dict "title" .Title "page" .) }}
{{/* /hero */}}

{{/* content */}}
{{ with .Params.content }}
{{ if .enable }}
<section class="pt-3 pb-10 px-5 bg-mask relative overflow-hidden">
  <!-- Decorative top-left quote -->
  <div class="w-30 sm:w-60 lg:w-100 xl:size-fit absolute -top-5 -left-5 sm:-top-11 sm:-left-10 lg:-top-20 lg:-left-20 xl:-top-27 xl:-left-27" aria-hidden="true">
    <img src='{{ "images/dev/quote-icon.webp" | relURL }}' class="size-full">
  </div>

  <!-- Decorative bottom-right quote -->
  <div class="w-30 sm:w-60 lg:w-100 xl:size-fit absolute -bottom-6 -right-5 sm:-bottom-12 sm:-right-10 lg:-bottom-21 lg:-right-20 xl:-bottom-29 xl:-right-27" aria-hidden="true">
    <img src='{{ "images/dev/quote-icon.webp" | relURL }}' class="size-full rotate-180">
  </div>

  <div class="max-w-7xl mx-auto space-y-10">
    <article class="w-fit mx-auto" data-aos="fade-up">
      <div class="w-10 sm:w-20 lg:w-30 max-h-30 relative left-0 sm:-left-14 lg:-left-20 -bottom-5" aria-hidden="true">
        <img src='{{ "images/dev/heading-icon.webp" | relURL }}' class="size-full">
      </div>
      <h2 class="text-light uppercase text-pretty text-center relative">
        {{ .title | safeHTML }}
      </h2>
      <p class="text-white text-center text-xl mt-4" data-aos="fade-up">
        {{ .content | safeHTML }}
      </p>
    </article>
  </div>
</section>
{{ end }}
{{ end }}
{{/* /content */}}

{{/* cards */}}
{{ with .Params.cards }}
{{ if .enable }}
<section class="bg-primary red-mask relative overflow-hidden" aria-labelledby="stats-heading">
  <!-- Decorative top-right block -->
  <div class="bg-dark bg-mask h-23 w-17 sm:h-40 sm:w-28.5 lg:h-65 lg:w-40.5 xl:h-76 xl:w-48 absolute -top-5 -right-5" aria-hidden="true">
    <div class="mt-9 -ml-9 sm:mt-13 sm:-ml-13 lg:mt-17 lg:-ml-16 xl:mt-16 xl:-ml-15 size-full bg-primary red-mask"></div>
  </div>

  <!-- Decorative bottom-left block -->
  <div class="bg-dark bg-mask h-23 w-17 sm:h-40 sm:w-28.5 lg:h-65 lg:w-40.5 xl:h-76 xl:w-48 absolute -bottom-5 -left-5 rotate-180" aria-hidden="true">
    <div class="mt-9 -ml-9 sm:mt-13 sm:-ml-13 lg:mt-17 lg:-ml-16 xl:mt-16 xl:-ml-15 size-full bg-primary red-mask"></div>
  </div>

  <div class="max-w-7xl py-10 px-5 mx-auto grid gap-y-10 relative">
    <h2 id="stats-heading" class="text-light text-center" data-aos="fade-up">
      {{ .title }}
    </h2>

    <div id="stats-grid" class="relative grid lg:grid-cols-3 gap-5">
      {{ range $i, $p := .card }}
      {{ $odd := modBool $i 2 }}
      <article data-aos="fade-up" class="grid lg:grid-rows-2 gap-5 lg:gap-10 text-center {{ if $odd }}bg-dark{{ else }}bg-light{{ end }} p-5 rounded-md">
        <h3 class="text-primary text-4xl lg:text-6xl font-black">{{ .title | safeHTML }}</h3>
        <p class="heading-sm {{ if $odd }}text-light{{ else }}text-dark{{ end }}">
          {{ .content | safeHTML }}
        </p>
      </article>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{/* /cards */}}

{{/* content */}}
{{ with .Params.extra_content }}
{{ if .enable }}
<section class="pt-3 pb-10 px-5 bg-light light-mask" aria-labelledby="light-section-heading">
  <div class="max-w-7xl mx-auto space-y-10">
    <div class="w-fit mx-auto" data-aos="fade-up">
      <!-- Decorative icon -->
      <div class="w-10 sm:w-20 lg:w-30 max-h-30 relative left-0 sm:-left-14 lg:-left-20 -bottom-5" aria-hidden="true">
        <img src='{{ "images/dev/heading-icon.webp" | relURL }}' class="size-full" alt="">
      </div>
      <h2 id="light-section-heading" class="text-dark uppercase text-pretty text-center relative">
        {{ .title | safeHTML }}
      </h2>
    </div>
    <p class="text-dark text-center text-xl" data-aos="fade-up">
      {{ .content | safeHTML }}
    </p>
  </div>
</section>
{{ end }}
{{ end }}
{{/* /content */}}

{{/* faqs */}}
{{ with .Params.faqs }}
{{ if .enable }}
<section class="bg-mask pt-3 pb-10 px-5" aria-labelledby="faq-section-heading">
  <div class="max-w-7xl mx-auto space-y-10">
    <div class="w-fit mx-auto" data-aos="fade-up">
      <!-- Decorative icon -->
      <div class="w-10 sm:w-20 lg:w-30 max-h-30 relative left-0 sm:-left-14 lg:-left-20 -bottom-5" aria-hidden="true">
        <img src='{{ "images/dev/heading-icon.webp" | relURL }}' class="size-full" alt="">
      </div>
      <h2 id="faq-section-heading" class="text-light uppercase text-pretty text-center relative">
        {{ .title | safeHTML }}
      </h2>
    </div>

    <div class="flex flex-col gap-5">
      {{ range $i, $p := .faq }}
      <section class="bg-primary p-3 rounded-md group" data-aos="fade-up">
        <button 
          id="faq-toggle-{{ $i }}" 
          aria-expanded="false" 
          aria-controls="faq-content-{{ $i }}" 
          class="flex justify-between items-center text-light heading-sm cursor-pointer w-full gap-3">
          {{ .title | safeHTML }}
          <span class="bg-light text-dark rounded-full size-7 flex justify-center items-center text-xl">+</span>
        </button>
        <div 
          id="faq-content-{{ $i }}" 
          class="text-light max-h-0 opacity-0 pointer-events-none transition-[max-height] duration-300 overflow-hidden mt-2">
          {{ .content | safeHTML }}
        </div>
      </section>
      {{ end }}
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const toggles = document.querySelectorAll("[id^='faq-toggle-']");
      toggles.forEach(toggle => {
        const content = document.getElementById(toggle.getAttribute("aria-controls"));
        const icon = toggle.querySelector("span");

        toggle.addEventListener("click", () => {
          const expanded = toggle.getAttribute("aria-expanded") === "true";
          toggle.setAttribute("aria-expanded", !expanded);
          if (!expanded) {
            content.classList.remove("max-h-0", "opacity-0", "pointer-events-none");
            content.classList.add("max-h-50", "opacity-100");
            icon.textContent = '-';
          } else {
            content.classList.add("max-h-0", "opacity-0", "pointer-events-none");
            content.classList.remove("max-h-50", "opacity-100");
            icon.textContent = '+';
          }
        });
      });
    });
  </script>
</section>
{{ end }}
{{ end }}
{{/* /faqs */}}

{{/* news */}}
{{ partial "shared/news.html" . }}
{{/* /news */}}

{{/* form */}}
<section class="bg-mask py-10">
  {{ partial "shared/form.html" . }}
</section>
{{/* /form */}}

{{ end }}