<section class='{{ if eq .light "true" }}bg-linear-to-b from-light to-dark to-50%{{ else }}bg-dark{{ end }} pb-20'>
  <div
    class="bg-primary py-5 lg:py-20 container shadow-xl mx-auto px-5 rounded-md grid md:grid-cols-2 gap-y-10 content-between items-center"
    data-aos="fade-up"
  >
    <h3
      class="font-primary text-5xl text-light font-bold leading-14"
    >
      Become a Cyber-Security Expert
    </h3>
    <div class="flex md:justify-end">
      <a
        href="#"
        class="group relative inline-flex h-12 items-center justify-center overflow-hidden rounded-md border border-light bg-primary transition duration-500 font-medium"
      >
        <div
          class="inline-flex h-12 translate-y-0 items-center justify-center px-6 text-light font-primary transition duration-500 group-hover:-translate-y-[150%]"
        >
          Get Started
        </div>
        <div
          class="absolute inline-flex h-12 w-full translate-y-full items-center justify-center text-dark transition duration-500 group-hover:translate-y-0"
        >
          <span
            class="absolute h-full w-full translate-y-full skew-y-12 scale-y-0 bg-light transition duration-500 group-hover:translate-y-0 group-hover:scale-160"
          ></span
          ><span class="z-10 font-primary">Get Started</span>
        </div>
      </a>
    </div>
  </div>
</section>