<div class="w-full p-5 bg-primary red-mask rounded-md">
  <form
      name="contact"
      method="POST"
      action="/grazie/"
      data-netlify="true"
      netlify-honeypot="bot-field"
      data-captcha-form
      class="max-w-3xl mx-auto flex flex-col gap-5">

    <h4 class="text-dark dark:text-light text-center text-3xl uppercase font-bold">
      lascia un messaggio
    </h4>

    <!-- Netlify hidden inputs -->
    <input type="hidden" name="form-name" value="contact">
    <p class="hidden">
      <label>
        Don't fill this out if you're human: 
        <input name="bot-field" type="text" />
      </label>
    </p>

    <!-- Name input -->
    {{ partial "components/input.html" (dict 
        "type" "text" 
        "required" "true" 
        "for" "Nome"
    ) }}

    <!-- Email input -->
    {{ partial "components/input.html" (dict 
        "type" "email" 
        "required" "true" 
        "for" "E-mail"
    ) }}

    <!-- Message textarea -->
    {{ partial "components/input.html" (dict 
        "type" "textarea" 
        "for" "Messaggio"
    ) }}

    {{ partial "shared/fake-captcha.html" . }}

    <!-- Submit button -->
    <button type="submit" class="hn-btn hn-btn-red submit-btn" style="display: none; justify-content: center;">
      Inviare
    </button>
  </form>
</div>