{{ $customBg := .page.Params.image | relURL }}
{{ $heroBg := "images/hackita-hero.webp" | relURL }}

<header
    class="lg:h-[90vh] mt-30 py-20 md:py-40 lg:mt-0 lg:py-0 {{ if eq .bg_top "true" }}{{ else }}bg-center{{ end }} relative {{ if eq .page.Params.image "none" }}lg:pt-30{{ else if .page.Params.image }}lg:pt-30 bg-[url('{{ $customBg }}')] bg-cover bg-top bg-no-repeat{{ else }}bg-[url('{{ $heroBg }}')] bg-cover bg-no-repeat{{ end }}"
    role="banner"
    fetch-priority="high"
    loading="eager"
>
    <!-- Overlay -->
    <div class="absolute inset-0 bg-light/20 dark:bg-dark/50" aria-hidden="true"></div>

    <div class="size-full max-w-2xl mx-auto flex flex-col items-center justify-center gap-y-10 relative z-10">
        <h1 class="text-dark dark:text-light uppercase text-pretty text-center relative">
            {{ .title }}
        </h1>

        {{ with .description }}
        <p class="text-dark dark:text-light text-center text-pretty">{{ . }}</p>
        {{ end }}

        {{ if ne .breadcrumb "disable" }}
        {{ partial "components/breadcrumb.html" .page }}
        {{ end }}
    </div>
</header>