{{ $customBg := .image | relURL }}
{{ $heroBg := "images/hackita-hero.webp" | relURL }}
<section
    class="h-[80vh] mt-30 bg-cover bg-no-repeat bg-center relative after:absolute after:inset-0 after:bg-primary after:mix-blend-multiply {{ if .image }}bg-[url('{{ $customBg }}')]{{ else }}bg-[url('{{ $heroBg }}')]{{ end }}">
    <div class="size-full flex flex-col items-center justify-center gap-y-10 relative z-10">
        <h1
            class=" text-light uppercase text-pretty text-center relative"
        >
            {{ .title }}
        </h1>
        {{ partial "components/breadcrumb.html" .page }}
    </div>
</section>