<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}">
<head>
    {{/* Head import */}}
    {{ partial "essentials/head.html" . }}
</head>
<body class="bg-dark">

    <!-- Optional Skip Link for Accessibility -->
    <a href="#main-content" class="sr-only focus:not-sr-only">Skip to main content</a>

    <!-- Header -->
    <header>
        {{ partial "shared/header.html" . }}
    </header>

    <!-- Main content -->
    <main id="main-content" class="max-w-475 mx-auto" role="main">
        {{ block "main" . }}
        {{ end }}
    </main>

    <!-- Footer -->
    <footer>
        {{ partial "shared/footer.html" . }}
    </footer>

    <!-- JS Scripts -->
    {{ partial "essentials/js.html" . }}
</body>
</html>