<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" class="dark">
<head>
    {{/* Head import */}}
    {{ partial "essentials/head.html" . }}
</head>
<body class="bg-light dark:bg-dark">
    <button id="back-to-top" class="size-10 rounded-md shadow-lg bg-accent border border-light/10 fixed z-50 bottom-5 right-5 translate-y-70 transition-transform back-to-top">
        <svg class="size-7 mx-auto text-light" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill="currentColor" d="M19.1085 14.9053C18.8156 15.1982 18.3407 15.1982 18.0478 14.9053L12.3281 9.18566L6.60845 14.9053C6.31556 15.1982 5.84069 15.1982 5.5478 14.9053C5.2549 14.6124 5.2549 14.1376 5.5478 13.8447L11.7978 7.59467C12.0907 7.30178 12.5656 7.30178 12.8585 7.59467L19.1085 13.8447C19.4013 14.1376 19.4013 14.6124 19.1085 14.9053Z" fill="#323544"/>
        </svg>
    </button>

    <!-- Optional Skip Linc viewBox="0 0 25 24" k for Accessibility -->
    <a href="#main-content" class="sr-only focus:not-sr-only">Skip to main content</a>

    <!-- Header -->
    <header>
        {{ partial "shared/header.html" . }}
    </header>

    <!-- Main content -->
    <main id="main-content" class="max-w-475 mx-auto" role="main">
        {{ block "main" . }}
        {{ end }}
    </main>

    <!-- Footer -->
    <footer>
        {{ partial "shared/footer.html" . }}
    </footer>

    <!-- JS Scripts -->
    {{ partial "essentials/js.html" . }}
</body>
</html>