{{ define "main" }} {{/* hero */}}
<section class="bg-[#000000]">
  <!-- <img
    src='{{ "images/dev/hero_lines.svg" | relURL }}'
    class="absolute size-full top-1/2 -translate-y-1/2 opacity-20"
  /> -->
  <div
    class="w-full mx-auto pt-30 grid grid-cols-1 lg:grid-cols-7 justify-between">
    <div class="relative lg:col-span-5">
      <div class="swiper heroImgSwiper h-100 lg:h-160">
        <div class="swiper-wrapper">
  
          <div class="swiper-slide">
            <div class="size-full">
              <img src='{{ "images/hackita-hero.webp" | relURL }}' alt="" class="size-full object-cover hover:scale-115 duration-300 transition-transform">
            </div>
          </div>

          <div class="swiper-slide">
            <div class="size-full">
              <img src='{{ "images/hackita-hero.webp" | relURL }}' alt="" class="size-full object-cover hover:scale-115 duration-300 transition-transform">
            </div>
          </div>

          <div class="swiper-slide">
            <div class="size-full">
              <img src='{{ "images/hackita-hero.webp" | relURL }}' alt="" class="size-full object-cover hover:scale-115 duration-300 transition-transform">
            </div>
          </div>

          <div class="swiper-slide">
            <div class="size-full">
              <img src='{{ "images/hackita-hero.webp" | relURL }}' alt="" class="size-full object-cover hover:scale-115 duration-300 transition-transform">
            </div>
          </div>

          <div class="swiper-slide">
            <div class="size-full">
              <img src='{{ "images/hackita-hero.webp" | relURL }}' alt="" class="size-full object-cover hover:scale-115 duration-300 transition-transform">
            </div>
          </div>
  
        </div>
      </div>
      <div class="hero-swiper-pagination flex justify-center items-center my-10"></div>
    </div>
    <div class="lg:h-160 lg:overflow-y-scroll 2xl:overflow-y-hidden lg:col-span-2 px-5">
      <div class="swiper heroTextSwiper">
          <div class="swiper-wrapper lg:flex-col lg:overflow-visible lg:divide-y divide-light">
  
            <div class="swiper-slide pb-5">
              <div class="space-y-2 px-5">
                <h5 class="heading-sm text-light transition-colors title">
                  1 Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </h5>
                <div class="dets space-y-2">
                  <p class="font-primary text-light line-clamp-4">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi cumque nemo, corporis eligendi quas saepe dolorum rerum excepturi non consequatur nesciunt esse tempore!
                  </p>
                  {{ partial "components/link.html" (dict "label" "Read More") }}
                </div>
              </div>
            </div>
  
            <div class="swiper-slide py-5">
              <div class="space-y-2 px-5">
                <h5 class="heading-sm text-light transition-colors title">
                  2 Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </h5>
                <div class="dets space-y-2">
                  <p class="font-primary text-light line-clamp-4">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi cumque nemo, corporis eligendi quas saepe dolorum rerum excepturi non consequatur nesciunt esse tempore!
                  </p>
                  {{ partial "components/link.html" (dict "label" "Read More") }}
                </div>
              </div>
            </div>
  
            <div class="swiper-slide py-5">
              <div class="space-y-2 px-5">
                <h5 class="heading-sm text-light transition-colors title">
                  3 Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </h5>
                <div class="dets space-y-2">
                  <p class="font-primary text-light line-clamp-4">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi cumque nemo, corporis eligendi quas saepe dolorum rerum excepturi non consequatur nesciunt esse tempore!
                  </p>
                  {{ partial "components/link.html" (dict "label" "Read More") }}
                </div>
              </div>
            </div>

            <div class="swiper-slide py-5">
              <div class="space-y-2 px-5">
                <h5 class="heading-sm text-light transition-colors title">
                  4 Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </h5>
                <div class="dets space-y-2">
                  <p class="font-primary text-light line-clamp-4">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi cumque nemo, corporis eligendi quas saepe dolorum rerum excepturi non consequatur nesciunt esse tempore!
                  </p>
                  {{ partial "components/link.html" (dict "label" "Read More") }}
                </div>
              </div>
            </div>
  
            <div class="swiper-slide py-5">
              <div class="space-y-2 px-5">
                <h5 class="heading-sm text-light transition-colors title">
                  5 Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </h5>
                <div class="dets space-y-2">
                  <p class="font-primary text-light line-clamp-4">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi cumque nemo, corporis eligendi quas saepe dolorum rerum excepturi non consequatur nesciunt esse tempore!
                  </p>
                  {{ partial "components/link.html" (dict "label" "Read More") }}
                </div>
              </div>
            </div>
  
          </div>
      </div>
    </div>
  </div>
</section>
{{/* /hero */}}

{{/* categories */}}
<section class="pt-3 pb-10 px-5 bg-mask relative overflow-hidden">
  <div class="w-30 sm:w-60 lg:w-100 xl:size-fit absolute -top-5 -left-5 sm:-top-11 sm:-left-10 lg:-top-20 lg:-left-20 xl:-top-27 xl:-left-27">
    <img src='{{ "images/dev/quote-icon.webp" | relURL }}' class="size-full">
  </div>
  <div class="w-30 sm:w-60 lg:w-100 xl:size-fit absolute -bottom-6 -right-5 sm:-bottom-12 sm:-right-10 lg:-bottom-21 lg:-right-20 xl:-bottom-29 xl:-right-27">
    <img src='{{ "images/dev/quote-icon.webp" | relURL }}' class="size-full rotate-180">
  </div>
  <div class="max-w-7xl mx-auto space-y-10">
    <div class="w-fit mx-auto" 
        data-aos="fade-up">
      <div class="w-10 sm:w-20 lg:w-30 max-h-30 relative left-0 sm:-left-14 lg:-left-20 -bottom-5">
        <img src='{{ "images/dev/heading-icon.webp" | relURL }}' class="size-full">
      </div>
      <h2
        class="font-primary text-light uppercase text-pretty text-center relative"
      >
        Categories
      </h2>
    </div>
    <div class="grid grid-cols-2 lg:grid-cols-4 gap-5 items-stretch">

      <div data-aos="fade-up" class="relative hover:z-10">
        <div class="group hover:scale-125 hover:shadow-2xl border hover:border-light/20 rounded-md transition-transform">
          <div class="overflow-hidden">
            <img src='{{ "images/linux.webp" | relURL }}' alt="" class="size-full object-cover rounded-t-md group-hover:scale-115 transition-transform duration-500">
          </div>
          <div class="flex flex-col gap-y-5 p-5 bg-dark">
            <div class="flex flex-wrap gap-3">
              <span class="font-primary text-primary uppercase">1 Article</span>
            </div>
            <h5 class="heading-sm text-light">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </h5>
            <div>
              {{ partial "components/button.html" (dict "label" "Read More")}}
            </div>
          </div>
          <div class="h-1 w-full bg-light/20 relative overflow-hidden after:transition-transform after:duration-300 after:absolute after:inset-0 after:bg-light after:-translate-x-full group-hover:after:translate-x-0"></div>
        </div>
      </div>
      
      <div data-aos="fade-up" class="relative hover:z-10">
        <div class="group hover:scale-125 hover:shadow-2xl border hover:border-light/20 rounded-md transition-transform">
          <div class="overflow-hidden">
            <img src='{{ "images/linux.webp" | relURL }}' alt="" class="size-full object-cover rounded-t-md group-hover:scale-115 transition-transform duration-500">
          </div>
          <div class="flex flex-col gap-y-5 p-5 bg-dark">
            <div class="flex flex-wrap gap-3">
              <span class="font-primary text-primary uppercase">1 Article</span>
            </div>
            <h5 class="heading-sm text-light">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </h5>
            <div>
              {{ partial "components/button.html" (dict "label" "Read More")}}
            </div>
          </div>
          <div class="h-1 w-full bg-light/20 relative overflow-hidden after:transition-transform after:duration-300 after:absolute after:inset-0 after:bg-light after:-translate-x-full group-hover:after:translate-x-0"></div>
        </div>
      </div>

      <div data-aos="fade-up" class="relative hover:z-10">
        <div class="group hover:scale-125 hover:shadow-2xl border hover:border-light/20 rounded-md transition-transform">
          <div class="overflow-hidden">
            <img src='{{ "images/linux.webp" | relURL }}' alt="" class="size-full object-cover rounded-t-md group-hover:scale-115 transition-transform duration-500">
          </div>
          <div class="flex flex-col gap-y-5 p-5 bg-dark">
            <div class="flex flex-wrap gap-3">
              <span class="font-primary text-primary uppercase">1 Article</span>
            </div>
            <h5 class="heading-sm text-light">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </h5>
            <div>
              {{ partial "components/button.html" (dict "label" "Read More")}}
            </div>
          </div>
          <div class="h-1 w-full bg-light/20 relative overflow-hidden after:transition-transform after:duration-300 after:absolute after:inset-0 after:bg-light after:-translate-x-full group-hover:after:translate-x-0"></div>
        </div>
      </div>

      <div data-aos="fade-up" class="relative hover:z-10">
        <div class="group hover:scale-125 hover:shadow-2xl border hover:border-light/20 rounded-md transition-transform">
          <div class="overflow-hidden">
            <img src='{{ "images/linux.webp" | relURL }}' alt="" class="size-full object-cover rounded-t-md group-hover:scale-115 transition-transform duration-500">
          </div>
          <div class="flex flex-col gap-y-5 p-5 bg-dark">
            <div class="flex flex-wrap gap-3">
              <span class="font-primary text-primary uppercase">1 Article</span>
            </div>
            <h5 class="heading-sm text-light">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </h5>
            <div>
              {{ partial "components/button.html" (dict "label" "Read More")}}
            </div>
          </div>
          <div class="h-1 w-full bg-light/20 relative overflow-hidden after:transition-transform after:duration-300 after:absolute after:inset-0 after:bg-light after:-translate-x-full group-hover:after:translate-x-0"></div>
        </div>
      </div>

      <div data-aos="fade-up" class="relative hover:z-10">
        <div class="group hover:scale-125 hover:shadow-2xl border hover:border-light/20 rounded-md transition-transform">
          <div class="overflow-hidden">
            <img src='{{ "images/linux.webp" | relURL }}' alt="" class="size-full object-cover rounded-t-md group-hover:scale-115 transition-transform duration-500">
          </div>
          <div class="flex flex-col gap-y-5 p-5 bg-dark">
            <div class="flex flex-wrap gap-3">
              <span class="font-primary text-primary uppercase">1 Article</span>
            </div>
            <h5 class="heading-sm text-light">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </h5>
            <div>
              {{ partial "components/button.html" (dict "label" "Read More")}}
            </div>
          </div>
          <div class="h-1 w-full bg-light/20 relative overflow-hidden after:transition-transform after:duration-300 after:absolute after:inset-0 after:bg-light after:-translate-x-full group-hover:after:translate-x-0"></div>
        </div>
      </div>

      <div data-aos="fade-up" class="relative hover:z-10">
        <div class="group hover:scale-125 hover:shadow-2xl border hover:border-light/20 rounded-md transition-transform">
          <div class="overflow-hidden">
            <img src='{{ "images/linux.webp" | relURL }}' alt="" class="size-full object-cover rounded-t-md group-hover:scale-115 transition-transform duration-500">
          </div>
          <div class="flex flex-col gap-y-5 p-5 bg-dark">
            <div class="flex flex-wrap gap-3">
              <span class="font-primary text-primary uppercase">1 Article</span>
            </div>
            <h5 class="heading-sm text-light">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </h5>
            <div>
              {{ partial "components/button.html" (dict "label" "Read More")}}
            </div>
          </div>
          <div class="h-1 w-full bg-light/20 relative overflow-hidden after:transition-transform after:duration-300 after:absolute after:inset-0 after:bg-light after:-translate-x-full group-hover:after:translate-x-0"></div>
        </div>
      </div>

      <div data-aos="fade-up" class="relative hover:z-10">
        <div class="group hover:scale-125 hover:shadow-2xl border hover:border-light/20 rounded-md transition-transform">
          <div class="overflow-hidden">
            <img src='{{ "images/linux.webp" | relURL }}' alt="" class="size-full object-cover rounded-t-md group-hover:scale-115 transition-transform duration-500">
          </div>
          <div class="flex flex-col gap-y-5 p-5 bg-dark">
            <div class="flex flex-wrap gap-3">
              <span class="font-primary text-primary uppercase">1 Article</span>
            </div>
            <h5 class="heading-sm text-light">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </h5>
            <div>
              {{ partial "components/button.html" (dict "label" "Read More")}}
            </div>
          </div>
          <div class="h-1 w-full bg-light/20 relative overflow-hidden after:transition-transform after:duration-300 after:absolute after:inset-0 after:bg-light after:-translate-x-full group-hover:after:translate-x-0"></div>
        </div>
      </div>

      <div data-aos="fade-up" class="relative hover:z-10">
        <div class="group hover:scale-125 hover:shadow-2xl border hover:border-light/20 rounded-md transition-transform">
          <div class="overflow-hidden">
            <img src='{{ "images/linux.webp" | relURL }}' alt="" class="size-full object-cover rounded-t-md group-hover:scale-115 transition-transform duration-500">
          </div>
          <div class="flex flex-col gap-y-5 p-5 bg-dark">
            <div class="flex flex-wrap gap-3">
              <span class="font-primary text-primary uppercase">1 Article</span>
            </div>
            <h5 class="heading-sm text-light">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </h5>
            <div>
              {{ partial "components/button.html" (dict "label" "Read More")}}
            </div>
          </div>
          <div class="h-1 w-full bg-light/20 relative overflow-hidden after:transition-transform after:duration-300 after:absolute after:inset-0 after:bg-light after:-translate-x-full group-hover:after:translate-x-0"></div>
        </div>
      </div>

    </div>
    <div class="flex justify-center items-stretch" data-aos="fade-up">
      {{ partial "components/button.html" (dict "label" "Know More") }}
    </div>
  </div>
</section>
{{/* /categories */}}

{{/* articles */}}
<section class="pt-3 pb-10 px-5 relative">
  <video
    autoplay
    loop
    muted
    playsinline
    class="absolute inset-0 size-full object-cover object-top-left"
  >
    <source src='{{ "videos/dev/articles_bg.mp4" | relURL }}' type="video/mp4" />
  </video>
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <div class="max-w-7xl mx-auto space-y-10 relative">
    <div class="w-fit mx-auto" 
        data-aos="fade-up">
      <div class="w-10 sm:w-20 lg:w-30 max-h-30 relative left-0 sm:-left-14 lg:-left-20 -bottom-5">
        <img src='{{ "images/dev/heading-icon.webp" | relURL }}' class="size-full">
      </div>
      <h2
        class="font-primary text-light uppercase text-pretty text-center relative"
      >
        Latest Articles
      </h2>
    </div>
    <a href="" class="hidden lg:grid grid-cols-2 gap-5 group" data-aos="fade-up">
      <div class="size-full overflow-hidden">
        <img src='{{ "images/linux.webp" | relURL }}' alt="" class="group-hover:scale-115 transition-transform duration-500">
      </div>
      <div class="flex flex-col gap-y-5">
        <div class="flex flex-wrap gap-5">
          <span class="font-primary text-light uppercase">Jan 24, 2025</span>
          <span class="font-primary text-light uppercase">2 Min Read</span>
        </div>
        <h5 class="heading-sm text-light group-hover:text-primary transition-colors">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </h5>
        <p class="font-primary text-light text-balance">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus natus, sit aut mollitia commodi vitae officiis. Sapiente dolor quas iusto at magni consequatur id corporis placeat nostrum inventore libero, voluptatum hic fugiat necessitatibus sed tempore.
        </p>
        <div>
          {{ partial "components/button.html" (dict "label" "Read More")}}
        </div>
      </div>
    </a>
    <div class="relative" data-aos="fade-up">
      <!-- prev -->
      <button aria-label="next slide" class="prev-article cursor-pointer absolute -bottom-20 left-0 lg:left-60 xl:left-80 2xl:left-100">
        <svg class="size-10 text-primary" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill="currentColor" d="M15.2335 5.21967C15.5263 5.51256 15.5263 5.98744 15.2335 6.28033L9.51379 12L15.2335 17.7197C15.5263 18.0126 15.5263 18.4874 15.2335 18.7803C14.9406 19.0732 14.4657 19.0732 14.1728 18.7803L7.92279 12.5303C7.6299 12.2374 7.6299 11.7626 7.92279 11.4697L14.1728 5.21967C14.4657 4.92678 14.9406 4.92678 15.2335 5.21967Z" fill="#323544"/>
        </svg>
      </button>
      <!-- /prev -->

      <!-- next -->
       <button aria-label="prev slide"  class="next-article cursor-pointer absolute -bottom-20 right-0 lg:right-60 xl:right-80 2xl:right-100">
        <svg class="size-10 text-primary rotate-180" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill="currentColor" d="M15.2335 5.21967C15.5263 5.51256 15.5263 5.98744 15.2335 6.28033L9.51379 12L15.2335 17.7197C15.5263 18.0126 15.5263 18.4874 15.2335 18.7803C14.9406 19.0732 14.4657 19.0732 14.1728 18.7803L7.92279 12.5303C7.6299 12.2374 7.6299 11.7626 7.92279 11.4697L14.1728 5.21967C14.4657 4.92678 14.9406 4.92678 15.2335 5.21967Z" fill="#323544"/>
        </svg>
      </button>
      <!-- /next -->
      <div class="swiper articleSwiper">
        <div class="swiper-wrapper">
  
          <div class="swiper-slide">
            <a href="" class="inline-flex flex-col items-stretch group shadow-xl">
              <div class="overflow-hidden">
                <img src='{{ "images/linux.webp" | relURL }}' alt="" class="size-full object-cover group-hover:scale-115 transition-transform duration-500">
              </div>
              <div class="row-span-2 flex flex-col gap-y-3 lg:gap-y-5 bg-glass p-3 lg:p-5">
                <div class="flex flex-wrap gap-3">
                  <span class="font-primary text-light uppercase">Jan 24, 2025</span>
                  <span class="font-primary text-light uppercase">2 Min Read</span>
                </div>
                <h5 class="heading-sm text-light group-hover:text-primary transition-colors">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </h5>
                <div>
                  {{ partial "components/button.html" (dict "label" "Read More")}}
                </div>
              </div>
              <div class="h-1 w-full bg-light/20 relative overflow-hidden after:transition-transform after:duration-300 after:absolute after:inset-0 after:bg-light after:-translate-x-full group-hover:after:translate-x-0"></div>
            </a>
          </div>
  
          <div class="swiper-slide">
            <a href="" class="inline-flex flex-col items-stretch group shadow-xl">
              <div class="overflow-hidden">
                <img src='{{ "images/linux.webp" | relURL }}' alt="" class="size-full object-cover group-hover:scale-115 transition-transform duration-500">
              </div>
              <div class="row-span-2 flex flex-col gap-y-3 lg:gap-y-5 bg-glass p-3 lg:p-5">
                <div class="flex flex-wrap gap-3">
                  <span class="font-primary text-light uppercase">Jan 24, 2025</span>
                  <span class="font-primary text-light uppercase">2 Min Read</span>
                </div>
                <h5 class="heading-sm text-light group-hover:text-primary transition-colors">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </h5>
                <div>
                  {{ partial "components/button.html" (dict "label" "Read More")}}
                </div>
              </div>
              <div class="h-1 w-full bg-light/20 relative overflow-hidden after:transition-transform after:duration-300 after:absolute after:inset-0 after:bg-light after:-translate-x-full group-hover:after:translate-x-0"></div>
            </a>
          </div>
  
          <div class="swiper-slide">
            <a href="" class="inline-flex flex-col items-stretch group shadow-xl">
              <div class="overflow-hidden">
                <img src='{{ "images/linux.webp" | relURL }}' alt="" class="size-full object-cover group-hover:scale-115 transition-transform duration-500">
              </div>
              <div class="row-span-2 flex flex-col gap-y-3 lg:gap-y-5 bg-glass p-3 lg:p-5">
                <div class="flex flex-wrap gap-3">
                  <span class="font-primary text-light">Jan 24, 2025</span>
                  <span class="font-primary text-light">2 Min Read</span>
                </div>
                <h5 class="heading-sm text-light group-hover:text-primary transition-colors">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </h5>
                <div>
                  {{ partial "components/button.html" (dict "label" "Read More")}}
                </div>
              </div>
              <div class="h-1 w-full bg-light/20 relative overflow-hidden after:transition-transform after:duration-300 after:absolute after:inset-0 after:bg-light after:-translate-x-full group-hover:after:translate-x-0"></div>
            </a>
          </div>
  
          <div class="swiper-slide">
            <a href="" class="inline-flex flex-col items-stretch group shadow-xl">
              <div class="overflow-hidden">
                <img src='{{ "images/linux.webp" | relURL }}' alt="" class="size-full object-cover group-hover:scale-115 transition-transform duration-500">
              </div>
              <div class="row-span-2 flex flex-col gap-y-3 lg:gap-y-5 bg-glass p-3 lg:p-5">
                <div class="flex flex-wrap gap-3">
                  <span class="font-primary text-light uppercase">Jan 24, 2025</span>
                  <span class="font-primary text-light uppercase">2 Min Read</span>
                </div>
                <h5 class="heading-sm text-light group-hover:text-primary transition-colors">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </h5>
                <div>
                  {{ partial "components/button.html" (dict "label" "Read More")}}
                </div>
              </div>
              <div class="h-1 w-full bg-light/20 relative overflow-hidden after:transition-transform after:duration-300 after:absolute after:inset-0 after:bg-light after:-translate-x-full group-hover:after:translate-x-0"></div>
            </a>
          </div>
  
          <div class="swiper-slide">
            <a href="" class="inline-flex flex-col items-stretch group shadow-xl">
              <div class="overflow-hidden">
                <img src='{{ "images/linux.webp" | relURL }}' alt="" class="size-full object-cover group-hover:scale-115 transition-transform duration-500">
              </div>
              <div class="row-span-2 flex flex-col gap-y-3 lg:gap-y-5 bg-glass p-3 lg:p-5">
                <div class="flex flex-wrap gap-3">
                  <span class="font-primary text-light uppercase">Jan 24, 2025</span>
                  <span class="font-primary text-light uppercase">2 Min Read</span>
                </div>
                <h5 class="heading-sm text-light group-hover:text-primary transition-colors">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </h5>
                <div>
                  {{ partial "components/button.html" (dict "label" "Read More")}}
                </div>
              </div>
              <div class="h-1 w-full bg-light/20 relative overflow-hidden after:transition-transform after:duration-300 after:absolute after:inset-0 after:bg-light after:-translate-x-full group-hover:after:translate-x-0"></div>
            </a>
          </div>
           
        </div>
      </div>
    </div>
    <div class="flex justify-center items-stretch">
      {{ partial "components/button.html" (dict "label" "Explore All" "link" "true" ) }}
    </div>
  </div>
</section>
{{/* /articles */}}

{{/* about */}}
<section class="bg-mask pt-3 pb-10 px-5">
  <div class="max-w-7xl mx-auto space-y-10">
    <div class="w-fit mx-auto" 
        data-aos="fade-up">
      <div class="w-10 sm:w-20 lg:w-30 max-h-30 relative left-0 sm:-left-14 lg:-left-20 -bottom-5">
        <img src='{{ "images/dev/heading-icon.webp" | relURL }}' class="size-full">
      </div>
      <h2
        class="font-primary text-light uppercase text-pretty text-center relative"
      >
        About Us
      </h2>
    </div>
    <div class="flex flex-col-reverse lg:flex-row gap-10 content-between" data-aos="fade-up">
      <div class="space-y-10 lg:w-1/2">
        <p
          class="font-primary text-light text-balance"
        >
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis rerum officiis dolores cupiditate perferendis optio. Itaque ipsum nobis dignissimos, distinctio vitae officiis voluptate mollitia ut sint nostrum harum reprehenderit blanditiis odio quos, cum, exercitationem non nisi totam accusantium quia pariatur. Harum blanditiis nulla consequuntur distinctio accusamus voluptatibus, nostrum, incidunt, sequi ducimus ab fugit. Impedit tempora esse quibusdam aut laborum vel blanditiis a minima distinctio, non tenetur numquam accusamus adipisci, aperiam perspiciatis ad rerum molestiae repellendus ducimus quo laudantium corrupti modi maiores sunt! Libero nobis cupiditate unde sunt aut culpa placeat vitae illum accusamus, incidunt adipisci a repellendus aspernatur ipsum natus? Est fugit expedita unde officia quisquam at? Animi alias maiores commodi itaque, quam ducimus laborum blanditiis voluptatum molestias velit sed officia temporibus dolorem?
        </p>
        {{ partial "components/button.html" (dict "link" "true" "label" "Read More") }}
      </div>
      <div class="lg:w-1/2" data-aos="fade-up">
        <img src='{{ "images/hackita-hero.webp" | relURL }}' alt="" class="lg:w-150 lg:ml-auto">
      </div>
    </div>
  </div>
</section>
{{/* /about */}}

{{/* services */}}
<section class="bg-primary relative overflow-hidden">
  
  <div class="bg-dark h-23 w-17 sm:h-41 sm:w-28 lg:h-65 lg:w-44 xl:h-80 xl:w-54 absolute -top-5 -left-5">
    <div class="mt-9 ml-9 sm:mt-12 sm:ml-13 lg:mt-18 lg:ml-18 xl:mt-20 xl:ml-21 size-full bg-primary"></div>
  </div>

  <div class="bg-dark h-23 w-17 sm:h-41 sm:w-28 lg:h-65 lg:w-44 xl:h-80 xl:w-54 absolute -bottom-5 -right-5 rotate-180">
    <div class="mt-9 ml-9 sm:mt-12 sm:ml-13 lg:mt-18 lg:ml-18 xl:mt-20 xl:ml-21 size-full bg-primary"></div>
  </div>

    <div class="max-w-7xl py-10 px-5 mx-auto grid gap-y-10 relative">
    <div class="flex flex-col justify-center gap-y-10" data-aos="fade-up">
      <h2
        class="text-light text-center"
      >
        Learn Cyber-Security
      </h2>
      <p
        class="font-primary text-light text-balance text-center"
      >
        From the basics to the OSCP level: <br />
        <span id="typewriter" class="text-dark font-semibold"></span>
        to become a true pentester.
      </p>

      <!-- Source words (hidden) -->
      <div id="typewriter-data" class="hidden">
        <span>technical walkthroughs</span>
        <span>commands</span>
        <span>common errors</span>
        <span>real lab notes</span>
      </div>
    </div>
    <div id="stats-grid" class="relative grid grid-cols-2 lg:grid-cols-4 gap-5">

      <div
        class="card-spotlight flex flex-col gap-y-5 text-center bg-dark p-5"
      >
        <span class="font-primary text-primary text-3xl font-black">12+</span>
        <h5 class="heading-sm text-light">Technical Articles</h5>
      </div>

      <div
        class="card-spotlight flex flex-col gap-y-5 text-center bg-light p-5"
      >
        <span class="font-primary text-primary text-3xl font-black">8</span>
        <h5 class="heading-sm text-dark">Main Categories</h5>
      </div>

      <div
        class="card-spotlight flex flex-col gap-y-5 text-center bg-dark p-5"
      >
        <span class="font-primary text-primary text-3xl font-black">OSCP</span>
        <h5 class="heading-sm text-light">Focused</h5>
      </div>

      <div
        class="card-spotlight flex flex-col gap-y-5 text-center bg-light p-5"
      >
        <span class="font-primary text-primary text-3xl font-black">100</span>
        <h5 class="heading-sm text-dark">Red Team Vibes</h5>
      </div>

    </div>
  </div>

</section>
{{/* /services */}}
{{/* track */}}
<section class="bg-mask">
  <div class="max-w-7xl mx-auto px-5 py-10 space-y-10">
    <div class="w-fit mx-auto" 
        data-aos="fade-up">
      <div class="w-10 sm:w-20 lg:w-30 max-h-30 relative left-0 sm:-left-14 lg:-left-20 -bottom-5">
        <img src='{{ "images/dev/heading-icon.webp" | relURL }}' class="size-full">
      </div>
      <h2
        class="font-primary text-light uppercase text-pretty text-center relative"
      >
        HackITA Training Tracks
      </h2>
    </div>

    <div class="grid lg:grid-cols-2 gap-5" data-aos="fade-up">
      <div class="flex gap-5 items-center justify-between p-7 bg-glass rounded-md border border-transparent hover:border-primary transition-all group hover:scale-125 relative hover:z-10">
        <div class="space-y-5 w-2/3">
           <h5 class="heading-sm text-light group-hover:text-primary transition-colors">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </h5>
            <p class="font-primary text-light text-balance">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus natus, sit aut mollitia commodi vitae officiis. Sapiente dolor quas iusto at magni consequatur.
            </p>
            <div>
              {{ partial "components/button.html" (dict "label" "Read More") }}
            </div>
        </div>
        <h3 class="font-primary text-primary text-center text-[170px] font-bold w-1/3">1</h3>
      </div>

      <div class="flex flex-row-reverse gap-5 items-center justify-between p-7 bg-glass rounded-md border border-transparent hover:border-primary transition-all group hover:scale-125 relative hover:z-10">
        <div class="space-y-5 w-2/3 text-right">
           <h5 class="heading-sm text-light group-hover:text-primary transition-colors">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </h5>
            <p class="font-primary text-light text-balance">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus natus, sit aut mollitia commodi vitae officiis. Sapiente dolor quas iusto at magni consequatur.
            </p>
            <div>
              {{ partial "components/button.html" (dict "label" "Read More") }}
            </div>
        </div>
        <h3 class="font-primary text-primary text-center text-[170px] font-bold w-1/3">2</h3>
      </div>

      <div class="flex gap-5 items-center justify-between p-7 bg-glass rounded-md border border-transparent hover:border-primary transition-all group hover:scale-125 relative hover:z-10">
        <div class="space-y-5 w-2/3">
           <h5 class="heading-sm text-light group-hover:text-primary transition-colors">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </h5>
            <p class="font-primary text-light text-balance">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus natus, sit aut mollitia commodi vitae officiis. Sapiente dolor quas iusto at magni consequatur.
            </p>
            <div>
              {{ partial "components/button.html" (dict "label" "Read More") }}
            </div>
        </div>
        <h3 class="font-primary text-primary text-center text-[170px] font-bold w-1/3">3</h3>
      </div>

      <div class="flex flex-row-reverse gap-5 items-center justify-between p-7 bg-glass rounded-md border border-transparent hover:border-primary transition-all group hover:scale-125 relative hover:z-10">
        <div class="space-y-5 w-2/3 text-right">
           <h5 class="heading-sm text-light group-hover:text-primary transition-colors">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </h5>
            <p class="font-primary text-light text-balance">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Possimus natus, sit aut mollitia commodi vitae officiis. Sapiente dolor quas iusto at magni consequatur.
            </p>
            <div>
              {{ partial "components/button.html" (dict "label" "Read More") }}
            </div>
        </div>
        <h3 class="font-primary text-primary text-center text-[170px] font-bold w-1/3">4</h3>
      </div>
    </div>
  </div>
</section>
{{/* /track */}} 
{{/* cta */}}
<section class="bg-mask">
  <div class="bg-linear-to-b from-transparent to-dark pb-10">
    {{ partial "shared/cta.html" }}
  </div>
</section>
{{/* /cta */}} {{
end }}
