{{ define "main" }}
<section class="bg-mask pt-30">
  <div class="lg:p-5 flex flex-col-reverse lg:flex-row gap-5 max-w-7xl mx-auto">

    <!-- Blog Post Content -->
    <article class="flex-4/6 bg-glass rounded-md border border-light/20 border-l-4 border-l-primary shadow-xl p-5">
      {{ partial "components/breadcrumb.html" . }}
      
      <header class="flex flex-col gap-5 items-start mt-5">
        <!-- Categories -->
        <div class="flex flex-wrap gap-2">
          {{ range .Params.categories }}
          <span class="px-3 py-1 text-primary border border-primary rounded-full uppercase">{{ . }}</span>
          {{ end }}
        </div>

        <!-- Title -->
        <h1 class="text-primary">{{ .Title }}</h1>

        <!-- Description -->
        {{ with .Description }}
        <p class="text-light text-pretty text-lg">{{ . }}</p>
        {{ end }}

        <!-- Meta Information -->
        <ul class="flex flex-wrap gap-5 items-stretch">
          {{ with .PublishDate }}
          <li class="py-1 px-3 text-light border border-light rounded-full text-sm uppercase">Pubblicato il {{ . }}</li>
          {{ end }}
          {{ $readingTime := div (float .WordCount) 170 }}
          {{ $readingTime = math.Ceil $readingTime }}
          <li class="py-1 px-3 text-light border border-light rounded-full text-sm uppercase">Tempo di lettura: {{ $readingTime }} min</li>
          {{ with .Params.author }}
          <li class="py-1 px-3 text-light border border-light rounded-full text-sm uppercase">Autore: {{ . }}</li>
          {{ end }}
        </ul>
      </header>

      <!-- Main Content -->
      <div class="pt-5 border-t border-light/20 prose prose-invert max-w-none">
        {{ .Content }}
      </div>

      <!-- Tags -->
      {{ if .Params.tags }}
      <footer class="pt-5 border-t border-light/20 flex gap-5 items-stretch w-full">
        {{ range .Params.tags }}
        <span class="px-3 py-1 rounded-full text-light text-sm border border-light">#{{ . }}</span>
        {{ end }}
      </footer>
      {{ end }}
    </article>

    <!-- Table of Contents -->
    <aside class="flex-2/6 relative">
      <div
        class="bg-glass rounded-md border border-light/20 border-l-4 border-l-primary shadow-xl p-5 sticky top-30 text-light lg:h-[80vh] lg:overflow-y-scroll"
        aria-label="Table of Contents">
        <h2 class="text-primary mb-3 hero-heading">Table Of Contents</h2>
        {{ .TableOfContents }}
      </div>
    </aside>

  </div>
</section>

{{ if eq .Parent.Title "Blog" }}
{{/* cta */}}
<section class="bg-mask py-10">
    {{ partial "shared/cta.html" }}
</section>
{{/* /cta */}}
{{ end }}

{{ end }}