{{ define "main" }}
<img data-pagefind-meta="image[src]" src="{{ .Params.image | relURL }}" style="display:none">
<meta data-pagefind-meta="description[content]" content="{{ .Description }}">
{{ if eq .Parent.Title "Blog" }}
<div id="reading-progress" class="fixed z-60 top-0 left-0 w-full h-1 bg-transparent">
    <div id="reading-progress-bar" class="h-full bg-primary"></div>
</div>
{{ end }}
<section class="bg-mask pt-30">
  <div class="lg:p-5 grid grid-cols-1 lg:grid-cols-6 gap-5 max-w-7xl mx-auto relative lg:static overflow-hidden lg:overflow-visible">

    <!-- Blog Post Content -->
    <article {{ if eq .Parent.Title "Blog" }}data-pagefind-body{{ end }} class="lg:col-span-4 bg-light-bg dark:bg-accent rounded-md border border-dark/20 dark:border-light/20 border-l-4 border-l-primary p-5">
      {{ partial "components/breadcrumb.html" . }}
      
      <header data-pagefind-ignore class="flex flex-col gap-5 items-start mt-5">
        <!-- Categories -->
        <div class="flex flex-wrap gap-2">
          {{ range .Params.categories }}
          <span class="px-3 py-1 text-primary border border-primary rounded-full uppercase">{{ . }}</span>
          {{ end }}
        </div>

        <!-- Title -->
        <h1 class="text-primary" data-pagefind-weight="10">{{ .Title }}</h1>

        <!-- Image -->
        {{ if .Params.image }}
        {{- $src := .Params.image -}}
        {{- $alt := .Title | plainify -}}
        {{- $title := .Title | plainify -}}

        {{- if not (strings.HasSuffix $src ".svg") -}}
        <a
          href="{{ $src }}"
          class="glightbox"
          data-gallery="content"
          {{ with $alt }}data-title="{{ . }}"{{ end }}
          data-description="<a href='{{ $src }}' download class='underline underline-offset-4 hover:text-primary transition-colors'>Download Image</a>"
        >
          <img
            src="{{ $src }}"
            alt="{{ $alt }}"
            loading="lazy"
            decoding="async"
            {{ with $title }}title="{{ . }}"{{ end }}
            class="rounded-md cursor-zoom-in"
          />
        </a>
        {{ end }}
        {{ end }}

        <!-- Description -->
        {{ with .Description }}
        <p class="text-dark dark:text-light text-pretty text-lg">{{ . }}</p>
        {{ end }}


        <!-- Meta Information -->
        <ul data-pagefind-ignore="" class="flex flex-wrap gap-5 items-stretch pb-5">
          {{ with .PublishDate }}
          <li class="py-1 px-3 text-dark dark:text-light border border-dark dark:border-light rounded-full text-sm uppercase">Pubblicato il {{ . | time.Format "2006-01-02"}}</li>
          {{ end }}
          {{ $readingTime := div (float .WordCount) 170 }}
          {{ $readingTime = math.Ceil $readingTime }}
          <li class="py-1 px-3 text-dark dark:text-light border border-dark dark:border-light rounded-full text-sm uppercase">Tempo di lettura: {{ $readingTime }} min</li>
          {{ with .Params.author }}
          <li class="py-1 px-3 text-dark dark:text-light border border-dark dark:border-light rounded-full text-sm uppercase">Autore: {{ . }}</li>
          {{ end }}
        </ul>
      </header>

      <!-- Main Content -->
      <div class="pt-5 border-t border-dark/20 dark:border-light/20 prose prose-gray dark:prose-invert max-w-none">
        {{ .Content }}
      </div>

      <!-- Tags -->
      {{ if .Params.tags }}
      <footer data-pagefind-ignore class="pt-5 border-t border-dark/20 dark:border-light/20 flex gap-5 items-stretch w-full">
        {{ range .Params.tags }}
        <span class="px-3 py-1 rounded-full text-dark dark:text-light text-sm border border-dark dark:border-light">#{{ . }}</span>
        {{ end }}
      </footer>
      {{ end }}
    </article>

    <!-- Table of Contents -->
    <button class="text-dark dark:text-light fixed right-0 top-30 lg:hidden z-40 sideBarToggler">
      <div class="bg-light-bg dark:bg-accent rounded-l-md border border-r-0 border-dark/20 dark:border-light/20 p-3">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="size-8" viewBox="0 0 16 16">
          <path class="fill-current" d="M12.5 3a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1zm0 3a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1zm.5 3.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5m-.5 2.5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1z"/>
          <path class="fill-current" d="M16 2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zM4 1v14H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zm1 0h9a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5z"/>
        </svg>
      </div>
    </button>
    <aside class="lg:col-span-2 lg:relative fixed top-30 lg:top-0 right-0 left-0 translate-x-[100vw] lg:translate-x-0 transition-transform sideBar z-39">
      <div
        class="bg-light-bg dark:bg-accent rounded-md border border-dark/20 dark:border-light/20 border-l-4 border-l-primary shadow-xl p-5 sticky top-30 text-dark dark:text-light h-[85vh] lg:h-[80vh] overflow-y-scroll pt-10 lg:pt-5"
        aria-label="Table of Contents">
        <h2 class="text-primary mb-3 hero-heading">Table Of Contents</h2>
        {{ .TableOfContents }}
      </div>
    </aside>

  </div>
</section>

{{ if eq .Section "articoli" }}
{{/*  related articles  */}}
{{ $related := (where (site.RegularPages.Related .) "Params.image" "!=" nil) | first 7 }}
{{ with $related }}
<section class="bg-mask py-10 px-5">
  <div class="max-w-7xl mx-auto space-y-10">
    <!-- Heading -->
    <div class="w-fit mx-auto" >
      <div class="w-10 sm:w-20 lg:w-30 max-h-30 relative left-0 sm:-left-14 lg:-left-20 -bottom-5" aria-hidden="true">
        <img src='{{ "images/dev/heading-icon.webp" | relURL }}' class="size-full">
      </div>
      <h2 class="text-dark dark:text-light uppercase text-pretty text-center relative">Relate Articles</h2>
    </div>

    <!-- Swiper Section -->
    <div class="relative" >
      <!-- Prev Button -->
      <button aria-label="Previous article" class="prev-article cursor-pointer absolute -bottom-20 left-0 lg:left-60 xl:left-80 2xl:left-100">
        <svg class="size-10 text-primary" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill="currentColor" d="M15.2335 5.21967C15.5263 5.51256 15.5263 5.98744 15.2335 6.28033L9.51379 12L15.2335 17.7197C15.5263 18.0126 15.5263 18.4874 15.2335 18.7803C14.9406 19.0732 14.4657 19.0732 14.1728 18.7803L7.92279 12.5303C7.6299 12.2374 7.6299 11.7626 7.92279 11.4697L14.1728 5.21967C14.4657 4.92678 14.9406 4.92678 15.2335 5.21967Z"/>
        </svg>
      </button>

      <!-- Next Button -->
      <button aria-label="Next article" class="next-article cursor-pointer absolute -bottom-20 right-0 lg:right-60 xl:right-80 2xl:right-100">
        <svg class="size-10 text-primary rotate-180" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill="currentColor" d="M15.2335 5.21967C15.5263 5.51256 15.5263 5.98744 15.2335 6.28033L9.51379 12L15.2335 17.7197C15.5263 18.0126 15.5263 18.4874 15.2335 18.7803C14.9406 19.0732 14.4657 19.0732 14.1728 18.7803L7.92279 12.5303C7.6299 12.2374 7.6299 11.7626 7.92279 11.4697L14.1728 5.21967C14.4657 4.92678 14.9406 4.92678 15.2335 5.21967Z"/>
        </svg>
      </button>

      <!-- Swiper Wrapper -->
      <div class="swiper articleSwiper">
        <div class="swiper-wrapper">
          {{ range . }}
          <div class="swiper-slide">
            <a href="{{ .RelPermalink }}" class="block">
              <article class="flex flex-col items-stretch group h-full">
                <div class="overflow-hidden">
                  {{ partial "components/image.html" (dict "src" .Params.image "alt" .Title "class" "size-full object-cover group-hover:scale-115 transition-transform duration-500") }}
                </div>
                <div class="row-span-2 flex flex-col bg-glass p-3 lg:p-5">
                  <div class="flex flex-wrap gap-3 mb-3 lg:mb-5">
                    {{ with .PublishDate }}
                    <span class="text-dark dark:text-light uppercase">{{ . | time.Format "Jan 2, 2006" }}</span>
                    {{ end }}
                    {{ $readingSpeed := .Site.Params.reading_speed | default 250 }}
                    {{ $readingTime := div (float .WordCount) $readingSpeed }}
                    {{ $readingTime = math.Ceil $readingTime }}
                    <span class="text-primary uppercase">{{ $readingTime }} Min Read</span>
                  </div>
                  <h3 class="h-25 heading-sm text-dark dark:text-light group-hover:text-primary transition-colors">
                    {{ .Title }}
                  </h3>
                  <div>
                    {{ partial "components/button.html" (dict "link" "true" "label" "Continua a leggere" "url" .RelPermalink ) }}
                  </div>
                </div>
                <div class="relative">
                  <div
                    class="h-1 w-full rounded-b-md bg-dark/20 dark:bg-light/20 overflow-hidden relative
                          after:absolute after:inset-0 after:bg-primary
                          after:-translate-x-full
                          after:animate-underline-slide">
                  </div>
                </div>
              </article>
            </a>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{/*  /related articles  */}}

{{/* cta */}}
<section class="bg-mask pt-20 pb-10">
    {{ partial "shared/newsletter.html" }}
</section>
{{/* /cta */}}
{{ end }}



{{ end }}