{{ define "main" }}
<section class="pt-30 px-5">
  <div class="max-w-7xl mx-auto grid lg:grid-cols-9 gap-10 pb-10">

    <!-- Image -->
    <figure class="lg:col-span-4">
      {{ partial "components/image.html" (dict "src" .Params.image "alt" .Params.hero_title "class" "size-full rounded-md lg:h-80 object-cover") }}
    </figure>

    <!-- Text Content -->
    <header class="lg:col-span-5 flex flex-col justify-start items-start gap-5">
      {{ partial "components/breadcrumb.html" . }}

      <span class="py-1 px-3 rounded-full text-center text-sm border border-primary text-dark dark:text-light uppercase relative">
        Browse Categories
      </span>

      <h1 class="text-dark dark:text-light hero-heading uppercase">{{ .Params.hero_title }}</h1>

      <p class="text-dark dark:text-light">{{ .Description }}</p>

      <!-- Stats -->
      <dl class="flex gap-x-10 gap-y-5 items-stretch flex-wrap">
        <div class="flex flex-col gap-2">
          <dt class="text-dark dark:text-light">Categorie</dt>
          <dd class="heading-sm text-dark dark:text-light">
            <span class="text-primary heading-sm">{{ .Data.Terms | len }}</span> Percorsi
          </dd>
        </div>
        <div class="flex flex-col gap-2">
          <dt class="text-dark dark:text-light">Articoli</dt>
          <dd class="heading-sm text-light">
            <span class="text-primary heading-sm">{{ where $.Site.RegularPages "Section" "articoli" | len }}+</span> Note
          </dd>
        </div>
        <div class="flex flex-col gap-2">
          <dt class="text-dark dark:text-light">Focus</dt>
          <dd class="heading-sm text-light">
            <span class="text-primary heading-sm">OSCP</span> Red Team
          </dd>
        </div>
      </dl>
    </header>

  </div>

  <!-- Divider -->
  <div class="h-1 lg:w-1/3 mx-auto bg-linear-to-r from-transparent via-primary to-transparent"></div>
</section>

<section class=" bg-mask">
    <ul class="max-w-7xl mx-auto py-10 flex flex-col gap-10">
        {{ range $i, $p := .Pages.ByWeight }}
        {{ $odd := modBool $i 2 }}
        <li class="relative p-1">
            <a href="{{ .RelPermalink }}" class="absolute inset-0 z-10"></a>
            <div class="absolute inset-0 bg-linear-to-tl from-transparent to-primary from-70% rounded-md"></div>
            <article class="relative flex flex-col bg-light-bg dark:bg-accent {{ if $odd }}lg:flex-row{{ else }}lg:flex-row-reverse{{ end }} gap-5 rounded-md p-5 shadow-xl transition-shadow hover:shadow-primary/20 border border-dark/20 dark:border-light/20">
                <!-- Image -->
                <figure class="lg:flex-2/5">
                  {{ partial "components/image.html" (dict "src" .Params.image "alt" .Title "class" "rounded-md") }}
                </figure>
                
                <!-- Content -->
                <div class="flex flex-col gap-5 lg:flex-3/5">
                    <header class="flex flex-col gap-5 ">
                        <span class="text-primary uppercase"># {{ .Title }}</span>
                        <h3 class="heading-sm text-dark dark:text-light">{{ .Title }}</h3>
                        <p class="text-dark dark:text-light">{{ .Description }}</p>
                    </header>

                    <!-- Tags -->
                    {{ if .Params.subcategories }}
                    <ul class="flex flex-wrap gap-3 items-stretch relative z-20">
                        {{ range .Params.subcategories }}
                        <li class="py-1 px-3 uppercase text-sm rounded-full border border-dark dark:border-light text-dark dark:text-light">
                          <a href="{{ printf "/subcategories/%s" (. | urlize) }}">{{ . }}</a>
                        </li>
                        {{ end }}
                    </ul>
                    {{ end }}

                    <!-- Button -->
                    <div>
                        {{ partial "components/button.html" (dict "link" "true" "label" "Entra" "url" .RelPermalink) }}
                    </div>
                </div>
            </article>
        </li>
        {{ end }}
    </ul>
</section>
{{ end }}