{{/* schema/breadcrumb.html */}}

{{ $items := slice }}

{{ if not .IsHome }}

  {{ $items = $items | append (dict
    "@type" "ListItem"
    "position" 1
    "name" "Home"
    "item" site.BaseURL
  ) }}

  {{/* .Ancestors already includes the home page; skip it so Home is not
       duplicated as the breadcrumb root (matches the visible breadcrumb). */}}
  {{ range .Ancestors.Reverse }}
    {{ if not .IsHome }}
      {{ $items = $items | append (dict
        "@type" "ListItem"
        "position" (add (len $items) 1)
        "name" .Title
        "item" .Permalink
      ) }}
    {{ end }}
  {{ end }}

  {{ $items = $items | append (dict
    "@type" "ListItem"
    "position" (add (len $items) 1)
    "name" .Title
    "item" .Permalink
  ) }}

{{ end }}

{{ if gt (len $items) 1 }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": {{ jsonify $items | safeJS }}
}
</script>
{{ end }}
